        .footer {
            height: 337px;
            background-color: #392A93;
            color: white;
            display: flex;
            flex-direction: column;
            // 上區塊
            .footerTop {
                height: 90%;
                display: flex;
                // 上區塊的左區塊
                div.icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50%;
                    img {
                        width: 78px;
                        height: 150px;
                        margin-right: 3px;
                    }
                    div.homepageIconWord {
                        padding-left: 1rem;
                        p {
                            margin-bottom: 0rem;
                        }
                        .english {
                            margin-top: 11px;
                            color: #9086CC;
                            font-weight: 600;
                            font-size: 15px;
                        }
                        .chinese {
                            font-weight: 600;
                            font-size: 40px;
                        }
                    }
                }
                // 上區塊的右區塊
                div.word {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    table {
                        // margin-right: 10rem;
                        tr {
                            td {
                                cursor: pointer;
                                padding: 0.5rem 2rem;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
            .footerBottom {
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                    margin-right: 1.5rem;
                }
            }
        }
        
        @media screen and (max-width:1300px) {
            .footer {
                .footerTop {
                    // background-color: red;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem;
                    div.icon {
                        // background-color: yellow;
                        img {
                            width: 52px;
                            height: 100px;
                        }
                    }
                    div.word {
                        // background-color: blue;
                        width: 70%;
                        table {
                            margin-top: 1rem;
                            width: auto;
                            height: auto;
                            tr {
                                td {
                                    padding: 0.1rem;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }